.table-container {
  background-color:#fff;
  padding: 40px
}

.example-container{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.button-color{
  background-color: #2196f3;
  color: #fff
}
