  <div class="form-container">
    <div class="form-info">
      <h3>Contacto</h3>
      <p><strong>Email:</strong> consultadominio.com</p>
      <p><strong>Teléfono:</strong> (011) 1234-567</p>
      <p><strong>Dirección:</strong> Calle 16 de Julio, Ciudad</p>
      <div>
        <div class="example-button-row">
          <a mat-raised-button href="https://www.google.com/" target="_blank">Facebook</a>
          <a mat-raised-button href="https://www.google.com/" target="_blank">Instagram</a>
          <a mat-raised-button href="https://www.google.com/" target="_blank">Twitter</a>
        </div>
      </div>
    </div>
    <div>
      <app-contact-form></app-contact-form>
    </div>
  </div>
